$darkest: rgba(11, 19, 43, 1);
$darker: rgba(28, 37, 65, 1);
$dark: rgb(58, 80, 107);
$light: rgb(91, 192, 190);
$lightest: rgba(111, 255, 233, 1);
$orange: #FF4242;
$yellow: #FFCB11;
$writ: 'Shadows Into Light', cursive;


body {
  background-color: $dark;
  font-family: 'Lato', sans-serif;
  color: $darkest;
}

h1 {
  color: $lightest;
  font-size: 4em;
  padding: 30px 0;
  font-weight: 100;
  margin: 0;
  font-family: $writ;
  text-align: center;
}

h2 {
  text-align: center;
  color: $yellow;
  margin-top: 0;
  font-weight: 300;
}

a {
  color: $darkest;
  transition: all .3s;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $orange;
  }
}

nav {
  position: relative;
  width: 100vw;
  background-color: $lightest;
  display: flex;
  ul {
    margin: 0 auto;
    max-width: 1000px;
    list-style: none;
    width: calc(100% - 150px);
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    vertical-align: text-bottom;
    li {
      display: inline-block;
      padding: 5px 10px;
      position: relative;
    }
  }
  .img-wrap {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    img {
      animation: logo-spin infinite 5s ease-in-out;
      height: 60px;
      max-width: 100%;
    }
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  width: 95%;
  
}

@keyframes logo-spin {
  0% { transform: rotate(-20deg); }
  50% { transform: rotate(30deg); }
  100% { transform: rotate(-20deg); }
}
