$darkest: rgba(11, 19, 43, 1);
$darker: rgba(28, 37, 65, 1);
$dark: rgb(58, 80, 107);
$light: rgb(91, 192, 190);
$lightest: rgba(111, 255, 233, 1);
$orange: #FF4242;
$yellow: #FFCB11;
$green: #00D819;
$purple: #4900aa;
$color1: rgba(0, 107, 166, 1);
$color2: rgba(4, 150, 255, 1);
$color3: rgba(255, 188, 66, 1);
$color4: rgba(216, 17, 89, 1);
$color5: rgba(143, 45, 86, 1);

@font-face {
  font-family: 'WorldFamous';
  src: url('/worldfamous.woff2');
}

body {
  background-color: $color1;
  font-family: 'Lato', sans-serif;
  color: $darkest;
}

h1 {
  color: $lightest;
  font-size: 5em;
  padding: 40px 0;
  font-weight: 100;
  margin: 0;
  font-family: WorldFamous, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
  color: $yellow;
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 40px;
}

a {
  color: $color3;
  transition: all .3s;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $color1;
  }
}

.body-content {
  padding-bottom: 40px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

nav {
  position: relative;
  width: 100vw;
  background-color: $color5;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
      display: inline-block;
      padding: 5px 10px;
      position: relative;
    }
  }
  .img-wrap {
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    img {
      animation: logo-spin infinite 5s ease-in-out;
      height: 60px;
      max-width: 100%;
    }
  }
}

.about {
  .section {
    .img-wrap {
      text-align: center;
    }
    &:nth-child(2) {
      padding: 30px 0 10px;
      background-color: $color3;
    }
    .link {
      margin-top: 40px;
      a {
        color: white;
        &:focus,
        &:hover {
          color: $color4;
        }
      }
    }
  }
  .slow-grow {
    animation: slow-grow infinite 7.5s ease-in-out;
  }
}

footer {
  background-color: $color5;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social {
    a {
      padding-right: 12px;
    }
    .fa {
      font-size: 30px;
      vertical-align: middle;
      &.fa-etsy {
        font-size: 24px;
      }
    }
  }
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  // 50% {
  //   transform: rotate(30deg);
  // }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slow-grow {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.15)
  }
  100% {
    transform: scale(1)
  }
}